<%- model_class = Pacient -%>
<div class="page-header">
  <h1>Pacient nou</h1><br>
  <h4>Completeaza datele pacientului</h4><br>
  <h5>Campurile cu steluta sunt obligatorii</h5>
</div>
<%= render :partial => 'form' %>
